@media only screen and (min-width: 900px) {
    .creative-layout nav.top-bar {
        background: rgba(0, 0, 0, 0.5);
    }
}

section.register, section.products, section.wallet {
    padding: 30px 0;
}

@media only screen and (min-width: 900px) {
    section.register, section.products, section.wallet {
        padding: 130px 0;
    }
}

.float-right {
    float: right;
}

section.products .columns+.columns:last-child {
    float: left;
}

.product {
    text-align: center;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.wallet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px 0;
    box-shadow: 2px 2px 1px #b3aaaa;
}

@media only screen and (max-width: 900px) {
    .wallet-card {
        margin-bottom: 12px;
    }
}

.wallet-card .balance {
    font-size: 35px;
    font-weight: 600;
}

.buttons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 900px) {
    .buttons-box {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.buttons-box > * {
    margin: 2px 5px;
}

section.wallet thead {
    background: #ccc;
}

section.wallet table {
    width: 100%;
}

#confirmation {
    margin-top: 20px;
}

#confirmation h4 {
    margin-bottom: 10px;
}

.pricing-table.product-data .input-phone {
    display: none;
}

.pricing-table.product-data.active .input-phone {
    display: block;
    margin-top: 10px;
}

.pricing-table.product-data.active .cta-button a {
    margin-top: 8px;
}

.pricing-table.product-data .cta-button .error {
    display: none;
}

.my-error ul {
    margin-left: 0;
}

.my-error ul li {
    color: red;
}

.my-error ul li:not(:last-child) {
    margin-bottom: 3px;
}

.my-alert {
    color: white;
    padding: 5px 10px;
}

.my-alert.success {
    background: #6ed82d;
}

.my-alert.error {
    background: #ff4d4f;
}

.background-cover {
    background-size: cover;
}

.whatsapp-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}

.whatsapp-btn span {
    display: inline-block;
    background: #41c452;
    border-radius: 50%;
}

.whatsapp-btn img {
    width: 70px;
}

